
/*-----------------------白天模式-------------------------*/

:root {
  --card-bg: rgba(229,229,227,0.9);      /* 所有页面背景（白天模式） */
  --btn-bg: rgba(112,124,147,1);            /* 按钮颜色（白天模式） */
  --btn-hover-color: rgba(150,188,220,1);   /* 鼠标悬浮时按钮颜色（白天模式） */
  --hr-border: rgba(159,158,165,1);         /* 底部分割线和剪刀颜色（白天模式） */
  --hr-before-color: rgba(131,154,173,1);   /* 底部分割线和剪刀颜色（白天模式） */
  --font-color: rgba(31,29,29,1);           /* 文字颜色（白天模式） */
}

/*-----------------------夜间模式-------------------------*/

[data-theme='dark'] {
  --card-bg: rgba(25,28,31,0.9);          /* 所有页面背景（夜间模式） */
  --font-color: rgba(182,184,188,1);         /* 文字颜色（夜间模式）*/
  --text-highlight-color: rgba(130,142,159,1); /* 文章内部标题颜色（夜间模式） */
}

/*------------------------全局----------------------------*/

body {
  background: rgba(98,100,109,1);       /* 网页滚动条背景（全局） */
}

#page-header {
  background-color: rgba(94,97,110,1);    /* 网页背景颜色 */
}

 #aside-content .card-announcement .item-headline i {
  color: rgba(221,137,90,0.8);           /* 公告喇叭颜色（全局） */
}